<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Bogdan's page</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
      <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Homepage</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="projects">Projects</a>
            <a class="nav-item nav-link" href="hackathons">Hackathons</a>
            <a class="nav-item nav-link" href="visitors">Visitors</a>
            <a class="nav-item nav-link" href="leaveamessage">Leave a message</a>
            <a class="nav-item nav-link" href="messages">Messages</a>

          </div>
        </div>
      </nav>
      <div class = "container">  
          <%= yield %>
      </div>
    <footer>

    <ul class="list-inline">

      <li class="list-inline-item">
        <p>Contact information:</p>
      </li>
      <li class="list-inline-item">
        <p style="font-weight:600">abaevbog@grinnell.edu</p>
      </li>
      <li class="list-inline-item">            
        <a href="https://github.com/abaevbog">
                <img src="images/github.png" class="logo-img" alt="github">        
        </a>
      </li>
      <li class="list-inline-item">
        <a href="https://www.linkedin.com/in/bogdan-abaev-a1719b170/">
            <div class="logo-image">
                <img src="images/linkedin.png" class="logo-img" alt="linkedin">
            </div>
        </a>
      </li>
    </ul>

    </footer>
  </body>
</html>
 